@tailwind base;
@tailwind components;
@tailwind utilities;


/* TODO: HERE Toggle dark mode animation !*/

/* TODO: custom le logo du calendar natif ? j'ai rien trouver a part ce truc mais tout les navigateur ne le supporte pas */
@layer utilities {
    /* Make the native calendar icon brighter in dark mode */
    .datetime-icon-dark::-webkit-calendar-picker-indicator {
        filter: invert(1) hue-rotate(180deg) brightness(1.1);
    }
}

@layer components {
    .select-base {
        @apply bg-background dark:bg-background-dark
        border border-bordercolor dark:border-bordercolor-dark
        text-text-primary dark:text-text-primary-dark
        text-sm rounded-lg w-full px-3 py-2.5
        transition-all duration-150
        cursor-pointer
        focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary
        hover:border-accent dark:hover:border-accent-dark;

        /* Kill native arrow as much as possible */
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: none;
        background-color: transparent;
    }

    /* For old IE/Edge, au cas où */
    .select-base::-ms-expand {
        display: none;
    }
}

[x-cloak] { display: none !important; }
